@import "tailwindcss";

.card-basic{
    @apply bg-white border-gray-600 shadow-2xl p-4 m-auto w-3xl rounded-xl
}
.nav{
    @apply w-full bg-slate-700 text-white flex justify-between items-center
}
.icon{
    @apply w-6
}
.logo{
    @apply w-30 
}
.log{
    @apply flex gap-4 mr-8
}
.nav-options{
    @apply flex justify-between gap-5 items-center
}
