@import "tailwindcss";

.card-basic{
    @apply bg-white border-gray-600 shadow-2xl p-4 m-auto w-3xl rounded-xl
}
.nav{
    @apply w-screen bg-slate-700 text-white flex justify-between items-center shadow-black shadow-xl
}
.icon{
    @apply w-6
}
.link{
    @apply hover:scale-105 hover:cursor-pointer
}
.logo{
    @apply w-30 ml-8 
    hover:drop-shadow-amber-200 hover:drop-shadow-2xl hover:scale-110 hover:rotate-360
    transition duration-500 ease-out
}
.log{
    @apply flex gap-4 mr-8
}
.nav-options{
    @apply hidden md:flex md:justify-between md:gap-5 md:items-center
}
.card{
    @apply  bg-white rounded-2xl shadow-gray-500 shadow-xl relative overflow-hidden md:m-4 border-4 border-gray-200
    hover:scale-105 hover:shadow-amber-200 hover:shadow-2xl
                  
}
.fav{
    @apply w-8 absolute top-4 right-4
}
.card-img{
    @apply object-cover md:h-[30vh] md:w-[12vw]
}
.search-bar{
    @apply flex justify-between items-center bg-white p-4 rounded-full m-2 
}

.tag{
    @apply bg-white p-2 rounded-full m-1 hover:cursor-pointer active:bg-blue-200
}

.card-text{
    @apply p-4 w-full font-bold uppercase flex justify-between items-center flex-col text-left
}
.comprar-button{
    @apply bg-green-900 text-white p-2 rounded-full m-auto text-center 
    hover:bg-blue-300 hover:cursor-pointer hover:scale-105
    active:bg-amber-600
}
.relative{
    @apply my-4  md:h-full
}